$navColor: #ec7705; 
$brc: #ccc;


#page-header {
  h1 {
  font-family: Helvetica, sans;
  text-align: center;
  }
}
.navbar {

  ul {
    margin-left:20% ;
    margin-right: 20%;
    padding: 0;

  }
  li {
    list-style: none;
    float:left;
  }
  a {
    color:#fff;
    display: block;
    margin-right: 5px;
    padding: 15px 10px;
    font-size: 22px;
    text-decoration: none;
    @extend h1;
    @include verticalGradient($navColor,$brc);
  }
  & :hover{
    color:darken($navColor, 20%);
  }
}
.clear {
  @include clear;
}
